body {
  background-color: lavender;
}
.navbar{
  display: flex;
  justify-content: flex-start;
 
}
.item {
  text-decoration: none;
  color: black;
margin-right : 50px;
}

.head {
  display: block;
  text-align: center;
  background-color: white;
}
img{
height : 200px;
width : 200px:
}
